{{ define "main" }}    
    <div class="post-list-container post-list-container-no-background">
            <body class="body-404">
		<div class="container">
			<section class="error-wrapper">
				<h1>请求的页面未找到</h1>
				<p class="page-404">
					<span>页面将自动</span>
					<a href="https://www.freethinker.top">跳转，</a>
					<span>等待时间：</span>
					<span class="second" id="counter">3</span>
				</p>
			</section>
		</div>
	     </body>
    </div>
    <script>
    var counter_el = document.getElementById("counter");
    var counter = parseInt(counter_el.innerText);
    var timer = setInterval(function () {
        counter--;
        counter_el.innerText = counter;
        if(counter == 0){
            window.location.href="https://www.freethinker.top/";
            return;
        }
    },1000)
    </script>
    <style>
        section.error-wrapper {
            display: grid;
            align-items: center;
            justify-items: center;
            padding-top: 40px;
         }
    </style>
{{ end }}
